.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.span {
  margin: 1em 0 0.5em 0;
  font-weight: 200;
  text-transform: uppercase;
  color: #158bbd;
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  line-height: 54px;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.3);
}
